<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whn.content_service.mapper.BoundsDetailMapper">

    <resultMap id="BaseResultMap" type="com.whn.content_service.domain.BoundsDetail">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="value" column="value" jdbcType="INTEGER"/>
            <result property="event" column="event" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,create_time,
        value,event,description
    </sql>
</mapper>
